h1 {
	font-size: 50px;
	background-color: yellow;
	text-align: center;
	font-family: "Times New Roman";
}
.strong6 {
	font-weight: 850;
	text-decoration: underline blue;

}
.navigationbar {
	display: block;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: white;
}

.tabs {
	padding: 10px;
	background-color: grey;
}

.firstrow {
	display: inline-block;
	/*float: right;*/
}

.secondrow {
	display: inline-block;
	/*float: right;*/
}
.bitmaker {
	text-align: center;
	background-color: silver;
	color: white;
	padding: 20px; 

}

.firstrowwrapper {
	margin: auto;
	width: 50%;
	margin-top: 10px;	
}


.secondrowwrapper {
	margin: auto;
	width: 50%;
	margin-top: 10px;
}

.tooltip {
	background-color: yellow;
	padding: 10px;
	margin: auto;
	text-align: center;
}

footer {
	background-color: black;
	padding: 20px;
	color: white;
	text-align: center;
	margin-top: 10px;
}


